
@{
    ViewData["Title"] = "GalleryDetailPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url('/website/img/bg-img/24.jpg');">
            <h2>SINGLE Gallery</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("index","user")"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("GalleryPage","user")">Gallery</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Single Gallery</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Portfolio Detaila Area Start ##### -->
    <section class="portfolio-details-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>THE ABEL VILLA’S GARDEN DESIGN</h2>
                        <p>Design &amp; constructed by Alazea.</p>
                    </div>
                </div>
            </div>

            <div class="portfolio-text mb-100">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <h5>About this project</h5>
                        <p>Plants are the eukaryotes that form the kingdom Plantae; they are predominantly photosynthetic. </p>
                        <p> using chloroplasts derived from endosymbiosis with cyanobacteria to produce sugars from carbon dioxide and water, using the green pigment chlorophyll.</p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <h5>Main idea and details</h5>
                        <p>Plants are one of the most essential living organisms on earth. They are immensely beneficial to both animals and human beings..</p>
                        <ul>
                            <li><i class="fa fa-check"></i> They produce oxygen which is crucial for the survival of living organisms. </li>
                            <li><i class="fa fa-check"></i>  Trees provide shelter to animals and are also known for their medicinal benefits.</li>
                            <li><i class="fa fa-check"></i> Plants and trees play a vital role in our lives. Plants are inextricably linked to our life, and we are both dependent on one another. </li>
                            <li><i class="fa fa-check"></i>  Plants aid in the preservation of the ecosystem.</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <h5>Client requirements</h5>
                        <p> Plants supply us with a variety of fruits, vegetables, oxygen, and other things, and we assist them in the removal of carbon dioxide. Plants aid in the preservation of the ecosystem.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio Slides -->
        <div class="portfolio-slides owl-carousel mb-100">
            <!-- Single Portfolio Slide -->
            <div class="single-portfolio-slide">
                <img src="~/website/img/bg-img/26.jpg" alt="">
            </div>
            <!-- Single Portfolio Slide -->
            <div class="single-portfolio-slide">
                <img src="~/website/img/bg-img/27.jpg" alt="">
            </div>
            <!-- Single Portfolio Slide -->
            <div class="single-portfolio-slide">
                <img src="~/website/img/bg-img/28.jpg" alt="">
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-8">
                    <h5>Tracking progress on a project</h5>
                    <p class="mb-30">Plant introduction is defined as a process of introducing plants in the new locality from their own growing locality which may involve wild or totally new variety of crops for the area or you can say a genotype or the group of genotypes are introduced.</p>
                    <h5>Master plant, Moodboards &amp; Visualisations</h5>
                    <p class="mb-30">Plants are a kingdom of life forms that includes familiar organisms such as trees, herbs, bushes, grasses, vines, ferns and mosses. Through photosynthesis, they convert water and carbon dioxide into the oxygen we breathe and the sugars that provide the primary fuel for life.</p>
                    <h5>Finish &amp; Payment</h5>
                    <p>Plants convert sunlight into chemical energy which is used in making food.</p>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="portfolio-details-meta">
                        <h5>Date (Start - Finish)</h5>
                        <p>21 Jan 2018 - 15 Apr 2018</p>
                    </div>
                    <div class="portfolio-details-meta">
                        <h5>Client</h5>
                        <p>Abel Company</p>
                    </div>
                    <div class="portfolio-details-meta">
                        <h5>Project Type</h5>
                        <p>Office plant design, Garden design</p>
                    </div>
                    <div class="portfolio-details-meta">
                        <h5>Designer</h5>
                        <p>Joseph Corbin, Tasha Deserio</p>
                    </div>
                    <div class="portfolio-details-meta">
                        <h5>Plan manager</h5>
                        <p>Cody Baker, Chris Smalling</p>
                    </div>
                    <div class="portfolio-details-meta">
                        <h5>Total contract value</h5>
                        <p>$500,000</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ##### Portfolio Detaila Area End ##### -->


